* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility classes */

.btn-primary {
    font-weight: 600;
    margin-top: 18px;
    background-color: #ff900e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
}
.text-secondary{
    color: #727272;
}
.text-primary{
    color: #FF900E;
}

/* Header section */
header {
    background-color: #fff4e7;
    padding: 18px 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 20px 0; */
}

.brand-title {
    font-size: 28px;
    font-weight: 700;
}

.menu ul {
    display: flex;
    gap: 45px;
}

.menu ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}

.brand-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 35px;
}

.brand-section h2 {
    font-size: 48px;
    font-weight: 700;
}

.brand-section p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 18px;
}

.banner-section {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.banner-section img {
    width: 60%;
}

/* feature section */

.feature-container{
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
    padding: 45px 0;
}
.feature-images{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 15px;
    width: 30%;
}
.feature-images img{
    width: 100%;
}
.feature-sidebar{
    width: 450px;
}
.feature-sidebar p{
    margin-top: 12px;
}
.feature-sidebar h1{
    font-size: 35px;
}

/* feature cetegory section */

.featute-second-section{
    display: flex;
    justify-content: center;
}
.featute-cetegory-title{
    font-size: 35px;
    border-left: 2px solid #FF900E;
    padding: 10px;
    margin-bottom: 15px;
}
.featute-cetegory p{
    font-size: 14px;
    margin-bottom: 18px;
}
.feature-card{
    padding: 25px;
    box-shadow: 5px 5px 5px 5px rgb(223, 220, 220);
    margin-bottom: 25px;
}
.featute-second-section img{
    width: 50%;
}


/* footer section */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
footer p{
    background-color: #FFF4E7;
    border-radius: 8px;
    padding: 15px 320px;
    margin: 100px 0;
    font-size: 20px;
    font-weight: 400;
}

/* sponsor section */

.sponsor-section{
    text-align: center;
}
.sponsor-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 18px;
}
.sponsor-discription{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
}
.sponsor-images{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.sponsor-images img{
    filter: grayscale(2);
}