* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility classes */

.btn-primary {
    font-weight: 600;
    margin-top: 18px;
    background-color: #ff900e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
}
.text-secondary{
    color: #727272;
}
.text-primary{
    color: #FF900E;
}

/* Header section */
header {
    background-color: #fff4e7;
    padding: 18px 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 20px 0; */
}

.brand-title {
    font-size: 28px;
    font-weight: 700;
}

.menu ul {
    display: flex;
    gap: 45px;
}

.menu ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
}

.brand-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 35px;
}

.brand-section h2 {
    font-size: 48px;
    font-weight: 700;
}

.brand-section p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 18px;
}

.banner-section {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.banner-section img {
    width: 60%;
}

/* feature section */

.feature-container{
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
    padding: 45px 0;
}
.feature-images{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 15px;
    width: 30%;
}
.feature-images img{
    width: 100%;
}
.feature-sidebar{
    width: 450px;
}
.feature-sidebar p{
    margin-top: 12px;
}
.feature-sidebar h1{
    font-size: 35px;
}